.card--container {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 250px;
    margin: 0px 40px;
    margin-bottom: 35px;
    border-radius: 8px;
    background-image:url('../../../assets/rectangulo.png');
    background-size : 100% 100%;
    color: white;
    padding: 10px 20px;
} 

.card--img {
    width: 40px;
    height: 40px;
    margin : 0 .5em
}

.card--title { 
    text-align: center;
    font-size: 1.1em;
    margin: 0;
}

@media (max-width : 991px) {
    .card--container {
        display: flex;
        justify-content:center;
        align-items: center;
        width: calc(100% / 3);
        margin: 0px 40px;
        margin-bottom: 35px;
        border-radius: 8px;
        background-image:url('../../../assets/rectangulo.png');
        background-size : 100% 100%;
        color: white;
        padding: 10px 20px;
        text-align: center;
    } 
    
} 

@media (max-width : 700px) {
    .card--container {
        width: calc(100% / 1);
    } 
    
} 